* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f4f0;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

header {
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.header-title span {
    color: #e1624f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

h1{
    color: #1b1b1b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
     
}

.description {
     color: #333333;
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-style: italic;
     font-size: 16px; 
     text-align: center; 
}

hr {
    color: #d9d9d9;
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.content-list-decription {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-list-decription span {
    color: #e1624f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.content-list-decription h2 {
    color: #1b1b1b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.content-list-decription p {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px; 
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cards p {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px; 
}

.cards h2 {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    color: #1b1b1b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px; 
}

.card-1 .card-2 .card-3 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-1, .card-2 span {
    color: #0c51a7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.card-3 :nth-child(2) {
    color: #591b98;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.card-3 :nth-child(4) {
    color: #e5245e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.card-3 :nth-child(6) {
    color: #e95e10;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.comentario {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;

    font-family: "Alice", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}